{% extends 'layout.html' %}


{% block content %}
    <h1>{% block title %} Index {% endblock %}</h1>

    <div class="col-md-12" style="margin-top: 25px;">
        <form action="/" method="POST" name="create-zaak">
            <input class="form-control form-control-lg" type="text" placeholder="Voer een nieuwe zaak in" aria-label=".form-control-lg example">
            <button type="submit" class="btn btn-primary" style="margin-top: 15px">Aanmaken</button>
        </form>
    </div>

    {% if zaken == "" %}
        {{ zaken }}
    {% else %}
        Er zijn nog geen zaken toegevoegd
    {% endif %}

{% endblock %}