{% extends 'layout.html' %}


{% block content %}

<div class="row">
    <div class="col-md-5" style="margin-top: 25px;">
        <form action="/" method="POST" name="create-zaak">
            <input name="naam_zaak" class="form-control form-control-lg" type="text" placeholder="Voer een nieuwe zaak in" aria-label=".form-control-lg example">
    </div>
    <div class="col-md-5" style="margin-top: 25px;"> 
            <input name="bvh_zaak" class="form-control form-control-lg" type="text" placeholder="Voer een BVH nummer in" aria-label=".form-control-lg example">
        </div>
    <div class="col-md-2" style="margin-top: 15px;">
        <button type="submit" class="btn btn-primary" style="margin-top: 15px">Aanmaken</button>
        </form>
    </div>
</div>
    <br>
    <h2>{% block title %}Overzicht zaken{% endblock %}</h2>
    {% if zaken %}
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>#</td>
                    <td>Zaak</td>
                    <td>BVH</td>
                </tr>
                {% for zaak in zaken %}
                <tr>
                    <td>{{ zaak[0] }}</td>
                    <td><a href="/zaak/{{zaak[0]}}">{{ zaak[1] }}</td>
                    <td>{{ zaak[2] }}</td>
                    </tr>
                {% endfor %}
                </table>   
                {% else %}
                Er zijn nog geen zaken toegevoegd
            {% endif %}
        </div>
    </div>
    


{% endblock %}

