<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6099419491244e3aac7ff0340f41c131 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6099419491244e3aac7ff0340f41c131" ></div>
        
</body>
<script>    
    
            var map_6099419491244e3aac7ff0340f41c131 = L.map(
                "map_6099419491244e3aac7ff0340f41c131",
                {
                    center: [51.908799170120965, 4.190102406401852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0c3315842d0345db9c1e34a409bb36c5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6099419491244e3aac7ff0340f41c131);
        
    
            var tile_layer_51114d109a35459c999522f16eb4e59e = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6099419491244e3aac7ff0340f41c131);
        
    
            var marker_f45f0608b42c40af870e8e69f8620b16 = L.marker(
                [51.90888521417758, 4.188975878707094],
                {}
            ).addTo(map_6099419491244e3aac7ff0340f41c131);
        
    
            var icon_a5ed7fd4fb0c4084b6f04602695482e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f45f0608b42c40af870e8e69f8620b16.setIcon(icon_a5ed7fd4fb0c4084b6f04602695482e1);
        
    
        var popup_3f9977f360664643887a8522e65ce2e6 = L.popup({"maxWidth": "100%"});

        
            var html_d9686701965e4a6e9491bd365e1d8f36 = $(`<div id="html_d9686701965e4a6e9491bd365e1d8f36" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
            popup_3f9977f360664643887a8522e65ce2e6.setContent(html_d9686701965e4a6e9491bd365e1d8f36);
        

        marker_f45f0608b42c40af870e8e69f8620b16.bindPopup(popup_3f9977f360664643887a8522e65ce2e6)
        ;

        
    
    
            var marker_3c38d7261e714c2da0444c52c7b177b7 = L.marker(
                [51.90874621985033, 4.190595932820508],
                {}
            ).addTo(map_6099419491244e3aac7ff0340f41c131);
        
    
            var icon_a1b5c79d5e37426e960c465ba485c970 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3c38d7261e714c2da0444c52c7b177b7.setIcon(icon_a1b5c79d5e37426e960c465ba485c970);
        
    
        var popup_58cf2ba700044c05b8eeeccf7f3c6222 = L.popup({"maxWidth": "100%"});

        
            var html_76631d24ddf54d7db7d312363031c066 = $(`<div id="html_76631d24ddf54d7db7d312363031c066" style="width: 100.0%; height: 100.0%;">Eind</div>`)[0];
            popup_58cf2ba700044c05b8eeeccf7f3c6222.setContent(html_76631d24ddf54d7db7d312363031c066);
        

        marker_3c38d7261e714c2da0444c52c7b177b7.bindPopup(popup_58cf2ba700044c05b8eeeccf7f3c6222)
        ;

        
    
    
            var poly_line_ad03500fd6854481b7ab52dafb96a1c7 = L.polyline(
                [[51.90888521417758, 4.188975878707094], [51.90785929353694, 4.188289233255051], [51.90785267461802, 4.188600369475508], [51.90889183294434, 4.189426489784997], [51.908799170120965, 4.190102406401852], [51.907707058154834, 4.189093895894164], [51.907846055698144, 4.190392084951932], [51.90874621985033, 4.190595932820508]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_6099419491244e3aac7ff0340f41c131);
        
</script>