<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_796d15d0701140db8e1bca68e0ecbe9d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_796d15d0701140db8e1bca68e0ecbe9d" ></div>
        
</body>
<script>    
    
            var map_796d15d0701140db8e1bca68e0ecbe9d = L.map(
                "map_796d15d0701140db8e1bca68e0ecbe9d",
                {
                    center: [51.908799170120965, 4.190102406401852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c68305bb427649f4944955231f1240cf = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_796d15d0701140db8e1bca68e0ecbe9d);
        
    
            var tile_layer_b0959d536f3c477491ea7eef6979e34f = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_796d15d0701140db8e1bca68e0ecbe9d);
        
    
            var marker_3f91ed4b0def46e18da3a7e1d881c8f5 = L.marker(
                [51.90888521417758, 4.188975878707094],
                {}
            ).addTo(map_796d15d0701140db8e1bca68e0ecbe9d);
        
    
            var icon_540f30858c8a471fad0f485c4c683693 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3f91ed4b0def46e18da3a7e1d881c8f5.setIcon(icon_540f30858c8a471fad0f485c4c683693);
        
    
        var popup_b39580671a3a41828aa4aa777f618dbe = L.popup({"maxWidth": "100%"});

        
            var html_7221dbfc0e6f40fe9dc28b8c5504c3e4 = $(`<div id="html_7221dbfc0e6f40fe9dc28b8c5504c3e4" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
            popup_b39580671a3a41828aa4aa777f618dbe.setContent(html_7221dbfc0e6f40fe9dc28b8c5504c3e4);
        

        marker_3f91ed4b0def46e18da3a7e1d881c8f5.bindPopup(popup_b39580671a3a41828aa4aa777f618dbe)
        ;

        
    
    
            var marker_2ac628efd17a45849da15735fb43954d = L.marker(
                [51.90874621985033, 4.190595932820508],
                {}
            ).addTo(map_796d15d0701140db8e1bca68e0ecbe9d);
        
    
            var icon_f109c380408f44e6ae95415e0db020d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2ac628efd17a45849da15735fb43954d.setIcon(icon_f109c380408f44e6ae95415e0db020d1);
        
    
        var popup_cc29345e568040e0983b234dfad4abc1 = L.popup({"maxWidth": "100%"});

        
            var html_2a823c3330594bfd9553a31818a4aba4 = $(`<div id="html_2a823c3330594bfd9553a31818a4aba4" style="width: 100.0%; height: 100.0%;">Eind</div>`)[0];
            popup_cc29345e568040e0983b234dfad4abc1.setContent(html_2a823c3330594bfd9553a31818a4aba4);
        

        marker_2ac628efd17a45849da15735fb43954d.bindPopup(popup_cc29345e568040e0983b234dfad4abc1)
        ;

        
    
    
            var poly_line_67fca05c86584de29d6dd33df25f5c46 = L.polyline(
                [[51.90888521417758, 4.188975878707094], [51.90785929353694, 4.188289233255051], [51.90785267461802, 4.188600369475508], [51.90889183294434, 4.189426489784997], [51.908799170120965, 4.190102406401852], [51.907707058154834, 4.189093895894164], [51.907846055698144, 4.190392084951932], [51.90874621985033, 4.190595932820508]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_796d15d0701140db8e1bca68e0ecbe9d);
        
</script>