<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0958a715766c4ccdbe9778976ef5526c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0958a715766c4ccdbe9778976ef5526c" ></div>
        
</body>
<script>    
    
            var map_0958a715766c4ccdbe9778976ef5526c = L.map(
                "map_0958a715766c4ccdbe9778976ef5526c",
                {
                    center: [51.908799170120965, 4.190102406401852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5a86eb4d1a8f48708d9b268cf4daf404 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0958a715766c4ccdbe9778976ef5526c);
        
    
            var tile_layer_646ec071e08f4dcaa778353d0d5b6e74 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0958a715766c4ccdbe9778976ef5526c);
        
    
            var marker_5d81c0bbada743e9a1b09e5a0a17ee89 = L.marker(
                [51.90888521417758, 4.188975878707094],
                {}
            ).addTo(map_0958a715766c4ccdbe9778976ef5526c);
        
    
            var icon_11576271ecb44b5291b70e13714a90ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5d81c0bbada743e9a1b09e5a0a17ee89.setIcon(icon_11576271ecb44b5291b70e13714a90ee);
        
    
        var popup_cf89fee1b33a4fc998a94a451ca8e3b6 = L.popup({"maxWidth": "100%"});

        
            var html_369992b8254042cbb2e1cfdd6cb8900e = $(`<div id="html_369992b8254042cbb2e1cfdd6cb8900e" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
            popup_cf89fee1b33a4fc998a94a451ca8e3b6.setContent(html_369992b8254042cbb2e1cfdd6cb8900e);
        

        marker_5d81c0bbada743e9a1b09e5a0a17ee89.bindPopup(popup_cf89fee1b33a4fc998a94a451ca8e3b6)
        ;

        
    
    
            var marker_8ee59c91bc404bffa96ad39b0f3b1d5d = L.marker(
                [51.90874621985033, 4.190595932820508],
                {}
            ).addTo(map_0958a715766c4ccdbe9778976ef5526c);
        
    
            var icon_3b26420208dc406d84642556a6d974e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8ee59c91bc404bffa96ad39b0f3b1d5d.setIcon(icon_3b26420208dc406d84642556a6d974e7);
        
    
        var popup_173a1b330fe7410aa0915a9f1362f891 = L.popup({"maxWidth": "100%"});

        
            var html_d7e1caa1954840b3b06df123b9ce7a2b = $(`<div id="html_d7e1caa1954840b3b06df123b9ce7a2b" style="width: 100.0%; height: 100.0%;">Eind</div>`)[0];
            popup_173a1b330fe7410aa0915a9f1362f891.setContent(html_d7e1caa1954840b3b06df123b9ce7a2b);
        

        marker_8ee59c91bc404bffa96ad39b0f3b1d5d.bindPopup(popup_173a1b330fe7410aa0915a9f1362f891)
        ;

        
    
    
            var poly_line_bd3c70a7b4494873b306b2b1f15d6521 = L.polyline(
                [[51.90888521417758, 4.188975878707094], [51.90785929353694, 4.188289233255051], [51.90785267461802, 4.188600369475508], [51.90889183294434, 4.189426489784997], [51.908799170120965, 4.190102406401852], [51.907707058154834, 4.189093895894164], [51.907846055698144, 4.190392084951932], [51.90874621985033, 4.190595932820508]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_0958a715766c4ccdbe9778976ef5526c);
        
</script>