{% extends 'layout.html' %}


{% block content %}


    <br>
{% if message != "" %}
    <div style="margin-bottom: 25px; background-color: #fffed4; padding: 25px; border-radius: 15px">{{message}}</div>
{% endif %}

    {% if zaken %}
    <div class="row">
        <div class="col-md-5" style="margin-top: 25px;">
            <h2 style="margin-left: 40px;">{% block title %}Overzicht zaken{% endblock %}</h2>
            <br>
            <table class="table">
                <tr>
                    <td>#</td>
                    <td>Zaak</td>
                    <td>BVH</td>
                </tr>
                {% for zaak in zaken %}
                <tr>
                    <td>{{ zaak.id }}</td>
                    <td><a href="{{ url_for('zaak', id=zaak.id) }}">{{ zaak.naam }}</td>
                    <td>{{ zaak.bvh }}</td>
                    </tr>
                {% endfor %}
                </table>   
                {% else %}
                Er zijn nog geen zaken toegevoegd
            {% endif %}
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4" style="margin-top: 25px;">
            <form action="/" method="POST" name="create-zaak">
                <input name="naam_zaak" class="form-control form-control-lg" type="text" placeholder="Voer een nieuwe zaak in" aria-label=".form-control-lg example">
                <input name="bvh_zaak" class="form-control form-control-lg" type="text" placeholder="Voer een BVH nummer in" aria-label=".form-control-lg example">
            <button type="submit" class="btn btn-primary" style="margin-top: 15px">Aanmaken</button>
            </form>
        </div>
    </div>


    {% endblock %}