<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2798003543b74e1687e17effb48b4a8b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_2798003543b74e1687e17effb48b4a8b" ></div>
        
</body>
<script>    
    
            var map_2798003543b74e1687e17effb48b4a8b = L.map(
                "map_2798003543b74e1687e17effb48b4a8b",
                {
                    center: [51.908799170120965, 4.190102406401852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_223e2828dcd44e7e9f07605ee8fa9a41 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2798003543b74e1687e17effb48b4a8b);
        
    
            var tile_layer_2d1ea3782e254f40817721b4509683d9 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_2798003543b74e1687e17effb48b4a8b);
        
    
            var marker_35faa72db7b04819ae8303dec0d28edb = L.marker(
                [51.90888521417758, 4.188975878707094],
                {}
            ).addTo(map_2798003543b74e1687e17effb48b4a8b);
        
    
            var icon_57e1a5fc99a74132afdd7f60159a13e1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_35faa72db7b04819ae8303dec0d28edb.setIcon(icon_57e1a5fc99a74132afdd7f60159a13e1);
        
    
        var popup_6cc01f6ba6ee4ce89f1064a4e699aca9 = L.popup({"maxWidth": "100%"});

        
            var html_21c73634b8834f1fb8e9d94e4e2f467f = $(`<div id="html_21c73634b8834f1fb8e9d94e4e2f467f" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
            popup_6cc01f6ba6ee4ce89f1064a4e699aca9.setContent(html_21c73634b8834f1fb8e9d94e4e2f467f);
        

        marker_35faa72db7b04819ae8303dec0d28edb.bindPopup(popup_6cc01f6ba6ee4ce89f1064a4e699aca9)
        ;

        
    
    
            var marker_1696ace7a463473c870eea0faf8057d6 = L.marker(
                [51.90874621985033, 4.190595932820508],
                {}
            ).addTo(map_2798003543b74e1687e17effb48b4a8b);
        
    
            var icon_f1b86f0400a84e2db3ed862bc738829d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1696ace7a463473c870eea0faf8057d6.setIcon(icon_f1b86f0400a84e2db3ed862bc738829d);
        
    
        var popup_a40dfe493ef44b399dfefe0e989ad3f7 = L.popup({"maxWidth": "100%"});

        
            var html_5c256c9b0cd7405690343e3c423a88de = $(`<div id="html_5c256c9b0cd7405690343e3c423a88de" style="width: 100.0%; height: 100.0%;">Eind</div>`)[0];
            popup_a40dfe493ef44b399dfefe0e989ad3f7.setContent(html_5c256c9b0cd7405690343e3c423a88de);
        

        marker_1696ace7a463473c870eea0faf8057d6.bindPopup(popup_a40dfe493ef44b399dfefe0e989ad3f7)
        ;

        
    
    
            var poly_line_a4367db4720d4e409667a6ae19951d5f = L.polyline(
                [[51.90888521417758, 4.188975878707094], [51.90785929353694, 4.188289233255051], [51.90785267461802, 4.188600369475508], [51.90889183294434, 4.189426489784997], [51.908799170120965, 4.190102406401852], [51.907707058154834, 4.189093895894164], [51.907846055698144, 4.190392084951932], [51.90874621985033, 4.190595932820508]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_2798003543b74e1687e17effb48b4a8b);
        
</script>