<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_de0d704dd6374252aec5af5d65c10b28 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_de0d704dd6374252aec5af5d65c10b28" ></div>
        
</body>
<script>    
    
            var map_de0d704dd6374252aec5af5d65c10b28 = L.map(
                "map_de0d704dd6374252aec5af5d65c10b28",
                {
                    center: [51.908799170120965, 4.190102406401852],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_27a7450e1ea442c1aeee4a794f0f067c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_de0d704dd6374252aec5af5d65c10b28);
        
    
            var tile_layer_7e6e26c2df61465fbebb23f5473ab191 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_de0d704dd6374252aec5af5d65c10b28);
        
    
            var marker_2b56dc2dc33748b7881a590294bfa759 = L.marker(
                [51.90888521417758, 4.188975878707094],
                {}
            ).addTo(map_de0d704dd6374252aec5af5d65c10b28);
        
    
            var icon_129775d38ff84c519c267faf9e51eeb5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2b56dc2dc33748b7881a590294bfa759.setIcon(icon_129775d38ff84c519c267faf9e51eeb5);
        
    
        var popup_977464dab453411193579c0a6c4d596f = L.popup({"maxWidth": "100%"});

        
            var html_ce6ed6d63326405ebe41817a9f07f8f2 = $(`<div id="html_ce6ed6d63326405ebe41817a9f07f8f2" style="width: 100.0%; height: 100.0%;">Start</div>`)[0];
            popup_977464dab453411193579c0a6c4d596f.setContent(html_ce6ed6d63326405ebe41817a9f07f8f2);
        

        marker_2b56dc2dc33748b7881a590294bfa759.bindPopup(popup_977464dab453411193579c0a6c4d596f)
        ;

        
    
    
            var marker_cd71440d7f27422ebeebdaf6f9d471bf = L.marker(
                [51.90874621985033, 4.190595932820508],
                {}
            ).addTo(map_de0d704dd6374252aec5af5d65c10b28);
        
    
            var icon_866fecec7b0148cf8de8274735296ec6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cd71440d7f27422ebeebdaf6f9d471bf.setIcon(icon_866fecec7b0148cf8de8274735296ec6);
        
    
        var popup_3f44ea77d26a4ed79e97b911d642aaee = L.popup({"maxWidth": "100%"});

        
            var html_24c5e41208ef45aaa204aa193f4304e4 = $(`<div id="html_24c5e41208ef45aaa204aa193f4304e4" style="width: 100.0%; height: 100.0%;">Eind</div>`)[0];
            popup_3f44ea77d26a4ed79e97b911d642aaee.setContent(html_24c5e41208ef45aaa204aa193f4304e4);
        

        marker_cd71440d7f27422ebeebdaf6f9d471bf.bindPopup(popup_3f44ea77d26a4ed79e97b911d642aaee)
        ;

        
    
    
            var poly_line_f1805f0c907c41788e09157000e07e12 = L.polyline(
                [[51.90888521417758, 4.188975878707094], [51.90785929353694, 4.188289233255051], [51.90785267461802, 4.188600369475508], [51.90889183294434, 4.189426489784997], [51.908799170120965, 4.190102406401852], [51.907707058154834, 4.189093895894164], [51.907846055698144, 4.190392084951932], [51.90874621985033, 4.190595932820508]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(map_de0d704dd6374252aec5af5d65c10b28);
        
</script>